<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Web_fitness</title>
  <link href="css/reset.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>


  <!-- ヘッダーここから -->
 <div id="header">
 <div id="headerArea">

   <div id="header_logo">WEB FITNESS</div>


   <!-- グローバルナビゲーションここから -->
   <nav id="gnavi">
     <ul>
       <li><a href="#">アカウント作成</a></li>
     </ul>
   </nav>
   <!-- グローバルナビゲーションここまで -->

 </div>
 </div>
 <!-- ヘッダーここまで -->

 <div id="main_panel">

   <h1>お金をかけなくても手に入れられる。<br>そして、いつまでも続く理想の身体作り</h1>
　　<h2>続けられる自己管理記録表</h2>


   <div id="main_panelArea">



   </div>

</body>
</html>
