 <div id="main_panel">
   <div id="main_panelArea">

   <h1>お金をかけなくても手に入れられる。<br>そして、続けられる理想の身体作り<br>
   <span class="small">続けられる自己管理記録</span></h1>

   </div>
 </div>
  <!-- contant -->
  <div class="content_g clearfix">
   <div class="contents_A">
     <div class="main">
       <p>２ヶ月数十万円をかけて一時的に痩せられても<br>
         数ヶ月後には元通り…<br>
         だったら初めから無料の自己管理で<br>
        いつまでも続く理想の身体を手に入れませんか？</p>

      </div>

         <div class="side">
           <img src="assets/Daily-Exercise01.jpg" alt="Samurai Engineer School">
         </div>


   </div>
  </div>

  <!-- contant2 -->
  <div class="content clearfix">
  <div class="contentArea">

    <div class="main">

      <h2>様々なトレーニングメニューの紹介！</h2>

      <p>気になる、大きくしたい個所ごとに細分化した<br />
      <p>様々なトレーニングメニューをご紹介します。</p>

    </div>

    <div class="side">
      <img src="assets/Personal-Training.jpg" alt="Samurai Engineer School">
    </div>

  </div>
  </div>


  <!-- contant3 -->
  <div class="content clearfix">
  <div class="contentArea">

    <div class="main">

      <h2>みんなと日々のがんばりを共有して</br>
      お互いを高め合い、トレーニング仲間も作れる</h2>

      <p>日々の運動や食生活を記録をして<br />
      <p>みんなの頑張りや、自分の成長過程を確認！</p>

    </div>

    <div class="side">
      <img src="assets/images-3.jpeg" alt="SSS">
    </div>

  </div>
  </div>
