<head>
 <style type="stlyesheet/index">

 </style>
 <link rel="stylesheet" href="/index.scss">
 <meta charset="utf-8">
 <title>WEB FITNESS</title>


</head>
<body>
  <header role="banner">
    <div aria-label="WEB FITNESS" class="banner" id="01">
      <a class="logos01" href="#">
        <%= gravatar_for @user %>
        <%= @users.name %></a>
   </div>
  </header>
 </body>
