<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ",    '#' %></li>
        <li><%= link_to "アカウント作成",    users_signup_path %></li>
        <li><%= link_to "ログイン", signin_path %></li>
        <li><%= link_to "リンク", '/link' %></li>
       </ul>
    </nav>
  </div>
</header>
