<!-- ヘッダーここから -->
<div id="header">
<div id="headerArea">

 <div id="header_logo">WEB FITNESS</div>


 <!-- グローバルナビゲーションここから -->
 <nav id="gnavi">
   <ul>
    <li><%= link_to "トップ",    '#' %></li>
    <li><%= link_to "アカウント作成",    signup_path %></li>
    <li><%= link_to "ログイン", signin_path %></li>
    <li><%= link_to "リンク", '/link' %></li>
   </ul>
 </nav>
 <!-- グローバルナビゲーションここまで -->

</div>
</div>
<!-- ヘッダーここまで -->
